@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';
@import 'nativewind/theme';

@theme {
  --color-background: #eeeae7;
  --color-background-muted: #e2ddd9;
  --color-background-subtle: #e2ddd9;

  --color-surface: #ffffff;
  --color-surface-muted: #f7f5f3;

  --color-text: #2d2926;
  --color-text-muted: #827a73;
  --color-text-subtle: #a69e97;
  --color-text-disabled: #c8c1bb;

  --color-primary: #9aa1f8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f7f5f3;
  --color-secondary-foreground: #625b55;

  --color-border: #d9d4cf;
  --color-border-muted: #d9d4cf;
  --color-border-strong: #c8c1bb;

  --color-focus: #9aa1f8;

  --color-success: #8aaa8a;
  --color-success-foreground: #ffffff;
  --color-success-muted: #e5eee5;
  --color-success-muted-foreground: #526852;

  --color-warning: #e8ad7a;
  --color-warning-foreground: #ffffff;
  --color-warning-muted: #faeee3;
  --color-warning-muted-foreground: #946b48;

  --color-danger: #d98c96;
  --color-danger-foreground: #ffffff;
  --color-danger-muted: #f7e5e8;
  --color-danger-muted-foreground: #8d4e59;

  --color-info: #86aeca;
  --color-info-foreground: #ffffff;
  --color-info-muted: #e5eff6;
  --color-info-muted-foreground: #526f86;
}

:root {
  --color-background: #eeeae7;
  --color-background-muted: #e2ddd9;
  --color-background-subtle: #e2ddd9;

  --color-surface: #ffffff;
  --color-surface-muted: #f7f5f3;

  --color-text: #2d2926;
  --color-text-muted: #827a73;
  --color-text-subtle: #a69e97;
  --color-text-disabled: #c8c1bb;

  --color-primary: #9aa1f8;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f7f5f3;
  --color-secondary-foreground: #625b55;

  --color-border: #d9d4cf;
  --color-border-muted: #d9d4cf;
  --color-border-strong: #c8c1bb;

  --color-focus: #9aa1f8;

  --color-success: #8aaa8a;
  --color-success-foreground: #ffffff;
  --color-success-muted: #e5eee5;
  --color-success-muted-foreground: #526852;

  --color-warning: #e8ad7a;
  --color-warning-foreground: #ffffff;
  --color-warning-muted: #faeee3;
  --color-warning-muted-foreground: #946b48;

  --color-danger: #d98c96;
  --color-danger-foreground: #ffffff;
  --color-danger-muted: #f7e5e8;
  --color-danger-muted-foreground: #8d4e59;

  --color-info: #86aeca;
  --color-info-foreground: #ffffff;
  --color-info-muted: #e5eff6;
  --color-info-muted-foreground: #526f86;
}
